*{
    padding : 0;
    margin: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(15, 15, 119), rgb(123, 123, 123));
}
.container{
    width : 23.75rem;
    height: 36.25rem;
    background: transparent;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
    overflow: hidden;
}
.container::before{
    content: '';
    width: 100px;
    height: 50rem;
    position: absolute;
    background-image: linear-gradient(rgb(83, 255, 83),rgb(69, 210, 253));
    box-shadow: 1px 1px 1px 2rem linear-gradient(rgb(84, 84, 255), rgb(44, 255, 44));
    animation: content 5s infinite linear;
    
}

.main-container{
    width: 23.125rem;
    height: 35.625rem;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;

}
.cell-1{
    display: flex;
    gap:15px;
    text-align: center;
    width: 380px;
    justify-content: center;
    
}
input[type="text"]{
    width:350px;
    height: 60px;
    margin-top: 0.5rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
   
}

.main-box{
    width: 70px;
    height: 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}
.main-box input[type="button"]{
    font-weight: 900;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    
}
.main-box::before{
    content: '';
    width: 30px;
    height: 100px;
    background-image: linear-gradient(rgb(83, 255, 83),rgb(69, 210, 253));
    box-shadow: 1px 1px 1px 2rem linear-gradient(rgb(84, 84, 255), rgb(44, 255, 44));
    animation: content-1 10s infinite linear;
    position: absolute;
    /* animation: content 2s linear infinite; */
}
input[type="button"]{
    width: 65px;
    height: 65px;
    position: relative;
    border: none;
    background-color: rgb(44, 44, 44);
    color:#fff;
}
.main-box:hover{
    background-color: rgb(255, 245, 245);
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 5rem 10px white;
}
input[type="button"]:hover{
    background-color: rgb(255, 245, 245);
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 5rem 10px white;
}

@keyframes content {
    from{
        transform: rotate(0deg);
    }
    to{
        transform : rotate(360deg);
    }
    
}
@keyframes content-1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform : rotate(-360deg);
    }
    
}

@media (max-width: 450px){
    .container{
        width : 21.75rem;
        height: 34.25rem;
        background:transparent;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 7px;
        justify-content: center;
        overflow: hidden;
    }
    .container::before{
        content: '';
        width: 100px;
        height: 40rem;
        position: absolute;
        background-image: linear-gradient(rgb(83, 255, 83),rgb(69, 210, 253));
        box-shadow: 1px 1px 1px 2rem linear-gradient(rgb(84, 84, 255), rgb(44, 255, 44));
        animation: content 5s infinite linear;
        /* animation: content 2s infinite linear; */
        
    }
    
    .main-container{
        width: 21rem;
        height: 33rem;
        border-radius: 7px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.5rem;
    
    }
    .cell-1{
        display: flex;
        gap:15px;
        text-align: center;
        width: 380px;
        justify-content: center;
        
    }
    input[type="text"]{
        width:320px;
        height: 60px;
        margin-top: 0.5rem;
        border: none;
        background-color: whitesmoke;
        border-radius: 0.2rem;
        font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
        
       
    }
    
    .main-box{
        width: 55px;
        height: 55px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        
    }
    .main-box input[type="button"]{
        font-weight: 900;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        
    }
    .main-box::before{
        content: '';
        width: 30px;
        height: 100px;
        background-image: linear-gradient(rgb(83, 255, 83),rgb(69, 210, 253));
        box-shadow: 1px 1px 1px 2rem linear-gradient(rgb(84, 84, 255), rgb(44, 255, 44));
        animation: content-1 10s infinite linear;
        position: absolute;
        /* animation: content 2s linear infinite; */
    }
    input[type="button"]{
        width: 50px;
        height: 50px;
        position: relative;
        border: none;
    }
}
